{% include 'partials/nav.html' %}
<!-- -->
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <style>
      .dark-color {
        background-color: #122b4e;
      }
    </style>
  </head>
  <body class="">
    <div align="center" class="container mt-5">
      <div class="col-md-12">
        <div class="card">
          <div
            class="card-header dark-color text-white d-flex flex-row justify-content-between"
          >
            <div>Information</div>
            <div>
              {% if user.profile.issue_permission == 'Yes' %}
              <a href="{% url 'edit-message' %}">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="#fff"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                  />
                </svg>
              </a>

              {% endif %}
            </div>
          </div>
          <div class="card-body">
            <marquee behavior="" direction="">
              <h3 class="my-2">{{ global_message }}</h3>
            </marquee>
          </div>
        </div>
      </div>
      <!-- {% if user.profile.issue_permission == 'Yes' %}
      <p>You can edit this</p>
      {% else %}
      <p>You cannot edit this</p>
      {% endif %} -->
    </div>
  </body>
  <div class="position-absolute fixed-bottom">
    {% include 'partials/footer.html' %}
  </div>
</html>
