{% extends 'partials/base.html' %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}

<style>
  .heading {
    font-size: 2rem;
    margin-top: 0.2rem;
  }
  .btn-dark-color {
    color: white;
  }

  .btn-dark-color {
    background-color: #122b4e;
  }

  .btn-dark-color:hover {
    border: 1px solid #000;
    transition: all 0.2s ease-in-out;
    background-color: white;
    color: #000;
  }

  .btn:hover {
    background-color: white;
    transition: all 0.3s;
    color: black;
  }
</style>

<form
  style="border-radius: 1rem"
  class="border px-5 py-5 container col-md-3 mt-5"
  method="post"
>
  <p class="heading">Forgot password</p>
  <p>Enter your registered email id</p>
  {% csrf_token %} {{ form | crispy }}
  <button class="btn-dark-color px-2 py-2 rounded" type=" submit">
    Submit
  </button>
</form>
{% endblock %}
